<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833246036138-tpe8okqhfi5s8eggm40pbi3elmhnqtka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833246036138-tpe8okqhfi5s8eggm40pbi3elmhnqtka</string>
	<key>API_KEY</key>
	<string>AIzaSyB5qaOjssqusBSFzZhgywfQBSi9VUjksyY</string>
	<key>GCM_SENDER_ID</key>
	<string>833246036138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833246036138:ios:252ea8734e1add2aaed0d3</string>
</dict>
</plist>